.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: body; }
.item4 { grid-area: footer; }

.grid-container{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'body body body body body body'
    'footer footer footer footer footer footer';
  grid-gap: 0px;
  background-color: #ff0000;
  padding: 10px;
}

.grid-container > div {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-family: Verdana, sans-serif;
}

/* Global */
a{
  color: #148E41;
}

/* Header */
.item1 img{
  width: 20%;
}

/* Navigation */

#nav {
 display:flex;
 justify-content:space-evenly;
}

.item2 ul, .item3 ul{
  list-style-type: none;
}

.item2 li{
  display: inline;
}

.item2 a{
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  font-size: 1em;
}

@media all and (max-width:600px){
  .item2 a{
    font-size: .8em;
  }
}

/* Body / Content */

.section{
  width: 100%;
  padding: 20px;
  padding: 12em 0 12em 0;
}

#home, #projects{
  background: #ffffff;
  color: #000000;
}

#about, #contact{
  background: #000000;
  color: #ffffff;
}


.contact-form input, textarea{
  float: right;
  margin-right: 30%;
  padding: 5px;
  height: 3em;
  width: 20em;
  border: 1px solid #1c1c1c;
  font-size: .5em;
}

.contact-panel{
  width: 100%;
  /* font-size: 1.5em; */
}

@media all and (min-width:600px){
  .contact-panel{
    font-size: 1.5em;
  }
}

#backbtn{
  background-image: url("images/btt-button.png");
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-color: #ffffff;
  width: 64px;
  height: 64px;
  opacity: .5;
  position: fixed;
  top: 80%;
  left: 80%;
}
